colorama==0.4.6
iniconfig==2.3.0
numpy==2.5.1
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
ruff==0.15.22
setuptools==83.0.0
six==1.17.0
tzdata==2026.3
wheel==0.47.0
